<a href="https://colab.research.google.com/github/LaraSampaio20/Python/blob/main/Exercicios_aritimeticos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

001 - Faça um programa em que ele leia  um numero inteiro e mostre o seu sucessor e o seu antecessor.

In [7]:
numero = int(input('Digite o numero aqui: '))
print(f'O numero escolhido é o {numero}, o seu sucessor é {numero + 1} e o seu antecessor é {numero - 1}')

Digite o numero aqui: 50
O numero escolhido é o 50, o seu sucessor é 51 e o seu antecessor é 49

002- Crie um algoritimo em que ele leia um numero e mostre:
      

*   Dobro
*   Triplo
*   Raiz quadrada

In [6]:
num = int(input("Digite um numero: "))
print(f'O numero escolhido foi {num}.O dobro dele é {num*2}, o triplo é { num*3} e sua raiz quadrada é {num**(1/2):.2f}')

Digite um numero: 65
O numero escolhido foi 65.O dobro dele é 130, o triplo é 195 e sua raiz quadrada é 8.06

003 - Escreva duas notas de duas alunas e traga a media delas

In [8]:
nota1 = int(input('nota 1: '))
nota2 = int(input('nota 2: '))
print(f'Nota 1 foi de {nota1} e a nota nota 2 foi de {nota2}. Portanto a média é de {(nota1 + nota2)/2}')

nota 1: 5
nota 2: 10
Nota 1 foi de 5 e a nota nota 2 foi de 10. Portanto a média é de 7.5

004- Escreva um programa em que leia um numero em metros e retorne em centimetros e milimetros.

In [10]:
metro = int(input('Qual o metro? '))
print(f'O metro é de {metro}, em centimetros é de {metro*100} e em milimetro é de {(metro*100)*10}')

Qual o metro? 50
O metro é de 50, em centimetros é de 5000 e em milimetro é de 50000

005 - Faça um programa que leia um numero inteiro na tela e mostre a sua tabuada.

In [13]:
num = int(input('Escolha um numero:'))
for i in range(0+11):
  print(f'A tabuada do numero {num} é: {num} x {i} =')

Escolha um numero:3
A tabuada do numero 3 é: 3 x 0 =
A tabuada do numero 3 é: 3 x 1 =
A tabuada do numero 3 é: 3 x 2 =
A tabuada do numero 3 é: 3 x 3 =
A tabuada do numero 3 é: 3 x 4 =
A tabuada do numero 3 é: 3 x 5 =
A tabuada do numero 3 é: 3 x 6 =
A tabuada do numero 3 é: 3 x 7 =
A tabuada do numero 3 é: 3 x 8 =
A tabuada do numero 3 é: 3 x 9 =
A tabuada do numero 3 é: 3 x 10 =

006 - Crie um programa que leia quanto de dinehiro a pessoa tem e mostre na tela quantos dolares ela pode comprar.
* Us$ 1,00 = 3,27

In [16]:
carteira = int(input('Quanto possui na carteira?'))
print(f'Tenho na carteira {carteira} e posso comprar {carteira / 3.27:.2f} dolares')

Quanto possui na carteira?5000
Tenho na carteira 5000 e posso comprar 1529.05

007 - Faça um programa que mostre na tela a largura e a altura de uma parede em metros. Calcule sua área  e a quantidade de tinta necessária para pinta la, sabendo que cada litro de tinta pinta uma area de 2m

008 -Faça um algoritimo que mostre o preço de um produto e mostre o seu novo preço com 5% de desconto.

009 - Faça um algoritimo que mostre o salario de um funcionário e mostre o seu novo salario com 15% de aumento.